<div class="ui blue segment" id="{{proUid}}">
  <div class="item">
      <div class="content ui grid">
        <div class="row">
          <div class="one wide column">
              <i class="big reddit square middle aligned icon"></i>
          </div>
          <div class="twelve wide column">
            <a class="header">{{dialogueName}}</a>
            <div class="description">{{date}} </div>
          </div>
          <div class="three wide column">
            <div class="ui buttons">
              <button class="ui button" id="edit">Edit</button>
              <button class="ui button" id="delete">Delete</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>