<<<<<<< HEAD
.font1{
	font-family:DFKai-sb;
}

.font2 {
  font-family:PMINGLiU;
}
.font3 {
  font-family:Microsoft JhengHei;
}

.font4 {
  font-weight:normal;
}

.font5 {
  font-weight:bold;
=======
.bubble1{
	font-family:DFKai-sb !important;
}

.bubble2 {
  font-family:PMINGLiU !important;
}



.bubble3 {
  font-family:Microsoft JhengHei !important;
}

.bubble4 {
  font-weight:normal !important;
}

.bubble5 {
  font-weight:bold !important;
>>>>>>> d9bfc247fcbe665cf31136f6ee8730d71dd3223d
}
