.fontlightblue{
	color:#53A0DB !important;
}

.fontorange{
	color:#F6D389 !important;
}

.fontyellow{
	color:#F6F889 !important;
}

.fontgreen{
	color:#C4F889 !important;
}

.fontblue{
	color:#C4F8D6 !important;
}

.fontwhite{
	color:white !important;
}

.fontblack{
	color:black !important;
}

.fontgrey{
	color:#E2E2E2 !important;
}