.bubble1{
	font-family:DFKai-sb !important;
}

.bubble2 {
  font-family:PMINGLiU !important;
}



.bubble3 {
  font-family:Microsoft JhengHei !important;
}

.bubble4 {
  font-weight:normal !important;
}

.bubble5 {
  font-weight:bold !important;
}
