/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC Thin';
  font-style: normal;
  font-weight: 100;
  src: url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Thin.woff2) format('woff2'),
       url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Thin.woff) format('woff'),
       url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC Light';
  font-style: normal;
  font-weight: 300;
  src: url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Light.woff2) format('woff2'),
       url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Light.woff) format('woff'),
       url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC Regular';
   font-style: normal;
   font-weight: 400;
   src: url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Regular.woff2) format('woff2'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Regular.woff) format('woff'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC Medium';
   font-style: normal;
   font-weight: 500;
   src: url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Medium.woff2) format('woff2'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Medium.woff) format('woff'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC Bold';
   font-style: normal;
   font-weight: 700;
   src: url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Bold.woff2) format('woff2'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Bold.woff) format('woff'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC Black';
   font-style: normal;
   font-weight: 900;
   src: url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Black.woff2) format('woff2'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Black.woff) format('woff'),
        url(//tw.olami.ai/open/website/resource/fonts/NotoSansTC-Black.otf) format('opentype');
 }
