<div class="ui blue segment">
        <div class="item">
            <div class="content ui grid">
              <div class="row">
                <div class="five wide column">
                  <i class="large github middle aligned icon"></i>
                  <a class="header">Semantic-Org/Semantic-UI</a>
                  <div class="description">Updated 10 mins ago</div>
                </div>
                <div class="eight wide column">
                    <h3 class="ui left aligned header">
                      some description
                    </h3>
                </div>
                <div class="three wide column">
                  <div class="ui buttons">
                    <button class="ui button" id="edit">Edit</button>
                    <button class="ui button" id="delete">Delete</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>