<div class="message sticker">
  {{>avatar}}
  <div class="content">
      <div class="reply">
        {{>author}}
        <div class="content">
          <div class="text">{{content}}</div>
        </div>
      </div>
      <img src="{{url}}"/>
      {{>meta}}
  </div>
</div>